html,
body {
  background-color: rgb(240, 233, 233);
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: visible !important;
  margin: 0px !important;
  padding: 0px !important;
}

.brand-name {
  padding-left: 5vw;
  font-family: 'Philosopher', sans-serif;
  font-weight: 500;
  font-size: larger;
}

.nav {
  padding: 3vw 5vw 3vw 5vw;
}

.navitems {
  padding: 0.5vw 5vw 0.5vw 5vw;
  font-size: large;
}

/* LANDING CSS */

.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7vw 1vw 5vw 6vw;
  height: 100vh;
}

.llanding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 10vw 0 10vw;
  height: 230vh;
}

.elanding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 10vw 0 10vw;
  height: 220vh;
}

.landingText h1 {
  font-size: 6vw;
  margin: 0 !important;
}

.landingText h2 {
  font-size: 4vw;
  margin: 0 !important;
}

/* INFO_SECTION CSS */

.infoSection {
  height: 300px;
}

.infoHeader {
  text-align: center;
  margin-bottom: 20px;
}

.infoCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 40px 0;
}

.infoCards .card {
  position: relative;
  height: 360px;
  width: 350px;
  background: #fff;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
}

.infoCards .card:hover {
  background-color: #ececec;
}

.infoCards .one .cardoneImg {
  height: 190px;
  width: 350px;
  position: absolute;
  top: -25px;
  right: 0;
}

.infoCards .two .cardtwoImg {
  width: 350px;
  height: 190px;
  position: absolute;
  top: -25px;
  right: 0px;
}

.infoCards .three .cardthreeImg {
  height: 190px;
  width: 350px;
  position: absolute;
  top: -25px;
  right: 0;
}

.cardbg {
  height: 170px;
}

.cardContent {
  padding: 0 20px;
}

.cardContent h2 {
  font-weight: 600;
}

.cardContent p {
  line-height: 20px;
  opacity: 0.6;
}

/* Banner */

.banner {
  height: 300px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.bannerText h1 {
  font-size: 3vw;
  color: #ec8735;
  font-weight: 300;
  margin-left: -200px;
  margin-top: 200px;
}

/* FOOTER CSS */

.footer {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: auto;
    overflow-y: hidden;
  }

  .nav h4 {
    font-size: 6vw;
    margin-top: 10px;
    margin-bottom: 14px;
  }

  .nav .links a {
    margin-right: 25px;
    font-size: 12px;
    font-weight: 600;
  }

  /* LANDING PAGE */

  .landing {
    flex-direction: column-reverse;
    height: 750px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .landingText h1 {
    font-size: 6vw;
    margin: 0 !important;
  }

  .landingText h3 {
    font-size: 16px;
  }

  .landingText .btn {
    margin: 0 auto;
  }

  .landingText .btn a {
    font-size: 3vw;
  }

  .landingImage img {
    width: 52vw;
    margin-bottom: 20px;
  }

  /* ABOUT */

  .about {
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutText {
    padding: 0 50px;
    height: 100px;
  }

  .aboutText h1 {
    left: 40px;
    font-size: 5vw;
  }

  .aboutText img {
    width: 16vw;
    top: 10px;
    left: -30px;
  }

  .aboutList {
    width: 75%;
  }

  ol li {
    font-size: 26px;
  }

  li p {
    font-size: 14px;
  }

  .infoSection {
    height: auto;
  }

  .infoHeader {
    text-align: center;
    margin: 40px 0;
  }

  .infoCards {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .infoCards .card {
    margin-bottom: 60px;
  }

  .testimonials {
    padding: 40px;
    background-color: #ec8735;
  }

  .banner {
    height: auto;
    flex-direction: column-reverse;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner h1 {
    font-size: 6vw;
  }

  .bannerInnerText {
    font-size: 3vw !important;
  }

  .bannerText img {
    width: 20vw;
  }

  .bannerImg img {
    width: 26vw;
  }
}